APP_NAME=alutec-inventory-be
GIN_MODE=debug
PORT=8080

DATABASE_URL=postgres://postgres:postgres@alutec-inventory-postgres-db:5432/alutec-inventory-db?sslmode=disable

FRONTEND_URL=http://localhost:9000
